#returnTop {
	position:fixed;
	z-index:999;
	right:15px;
	bottom:-200px;
	width:30px;
	height:65px;
	text-indent:-999px;
	overflow:hidden;
	background-image:url('../res/small_icon.png');
	background-repeat:no-repeat;
	background-position:-122px 0px;
	transition:bottom 0.9s;
	-webkit-transition:bottom 0.9s;
	-moz-transition:bottom 0.9s;
	-o-transition:bottom 0.9s;
}
#returnTop:hover {
	background-position:-122px -65px;
}