@charset "utf-8";
/* common css */
.red_div{
	background-color: pink
}

.blue_div{
	background-color: lightblue
}

.green_div{
	background-color: lightgreen
}

.yellow_div{
	background-color: lightyellow
}

.white_div{
	background-color: yellow
}

.in_block{
	display: inline-block
}

/* search item css */
.search_item_css{
	border-style: double;
	padding:  10px 0px 0px 10px
}

.search_item_img_css{
	display: inline-block
}

.search_item_img_css img{
	width:112px;
	height:138px;
	vertical-align: inherit
}

.search_item_detail_css{
	display: inline-block
}

.search_item_detail_css h4{
	display: inline-block;
	width:120px;
	height: 20px;
	overflow: hidden;
	margin:0 0 0 0
}

.badge_css{
	display: inline-block;
}

.detail_css{
	margin:0 0 0 0
}

.search_item_score_css{
	
}

.search_item_btn_css{
	display: inline-block;
	width:20px;
	height:100%
}

.search_item_btn_css>a{
	display: block;color:red;font-size: 20px;cursor:pointer;margin: 0px 0px 0px 0px;width:100%;height: 50%;
}

.search_item_dislike_btn_css>a{
	color:black;font-size: 20px;cursor:pointer;width:100%;height: 50%;display: inline-block;margin: 0px 0px 0px 0px
}

.search_item_dislike_btn_css>ul>li:first-child{
	padding: 10px 3px 3px 20px;
}

/* search form css 
#search_form{
	padding: 10px 5px 10px 5px
}

#search_form.score_css{
	display: inline-block;
}

#search_form span{
	display: inline-block;
	padding: 0px 0px 0px 0px;
	width:50px;height: 20px;
	text-align:right
}

#search_form select{
	display: inline-block;
	padding: 4px 4px 4px 4px;
	margin: 0px 0px 0px 0px;
	width: 80px;height: 25px
}

#search_form .profile_css{
	display: inline-block;
}

#search_form .profile_css input{
	display: inline-block;
	width: 80px;height: 25px
}

#search_form .profile_css input[type=checkbox]{
	display: inline-block;
	width: 20px;height: auto
}
*/













