@charset "utf-8";
/* common css */
.double_div{
	border-style: double;
	border-color: green;
}

.red_div{
	background-color: pink
}

.blue_div{
	background-color: lightblue
}

.green_div{
	background-color: lightgreen
}

.yellow_div{
	background-color: lightyellow
}

.white_div{
	background-color: yellow
}

.in_block{
	display: inline-block
}

.row{margin-bottom:15px
}

.panel_css{
	border:1px solid #9966cc;
	border-top-width: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white;
	 
  background: -webkit-linear-gradient(#9966cc,white,  white, white, white, white, white, white); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#9966cc, white, white, white, white, white, white, white); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#9966cc, white, white, white, white, white, white, white); /* Firefox 3.6 - 15 */
  background: linear-gradient(#9966cc, white, white, white, white, white, white, white); /* 标准的语法 */
 /*
   -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;*/
    /* For IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
    /* For IE 5.5 - 7 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
}

.panel_css hr{
	height:0px;
	border-top:1px solid purple;
}

.panel_css .form-control:focus {
border-color: purple;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px purple;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px purple;
}

.panel2_css{
	/*border: 1px solid #eee;*/
	border-bottom-width: 5px;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 10px; 
}

.panel2_css:hover{ 
	border-bottom-color: #ff3333;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ff3333;
}

.button_css{
	color:white;
	background-color:#9966cc;
}

.button_css:hover{
	color:white;
	background-color: #b07ed3;
}

/* star rating css, usage <span class="star_readonly" star="2"></span>*/
.star_readonly{
	background-image: url('../res/small_icon.png');
	background-repeat: no-repeat;
	height: 14px;
	width: 80px; 
	display:inline-block;
}
.star_readonly[star="0"]{
	background-position: -200px -75px;
}
.star_readonly[star="1"]{
	background-position: -200px -60px;
}
.star_readonly[star="2"]{
	background-position: -200px -45px;
}
.star_readonly[star="3"]{
	background-position: -200px -30px;
}
.star_readonly[star="4"]{
	background-position: -200px -15px;
}
.star_readonly[star="5"]{
	background-position: -200px 0px;
}

/* search item css*/
.search_item_css{
	/*margin: 0px 0px 15px 0;*/
}
.search_item_img_css{
	display: inline-block;
	border: solid 1px orange;
	color: green;
	background-color: white;
	padding: 5px 5px 5px 5px;
	/*border-radius: 5px;*/
}
.search_item_img_css img{
	width:112px;
	height:138px;
	vertical-align: inherit
}
.search_item_detail_css{
	display: inline-block
}
.search_item_detail_css h4{
	display: inline-block;
	width:120px;
	height: 20px;
	overflow: hidden;
	margin:0 0 0 0
}

.badge_css{
	display: inline-block;
}

.detail_css{
	margin:0 0 0 0
}

.search_item_score_css{
	
}
/*
.search_item_btn_css{
	display: inline-block;
	width:20px;
	height:100%
}

.search_item_btn_css>a{
	display: block;color:red;font-size: 20px;cursor:pointer;margin: 0px 0px 0px 0px;width:100%;height: 50%;
}

.search_item_dislike_btn_css>a{
	color:black;font-size: 20px;cursor:pointer;width:100%;height: 50%;display: inline-block;margin: 0px 0px 0px 0px
}

.search_item_dislike_btn_css>ul>li:first-child{
	padding: 10px 3px 3px 20px;
}
*/

/* search form css */
/*#search_form{
	padding: 20px 0px 10px 0px;
}

#search_form>div{
	padding: 10px 5px 10px 5px
}
*/
#search_form label{
	padding: 0px 0px 0px 20px
}

#search_form input,#search_form select{
	padding: 0px 0px 0px 0px
}

#search_form .form-group{
	padding: 0px 0px 0px 0px;
	margin-bottom: 5px;
}

#search_form HR{
	width:80%;
	margin: 10px auto 10px auto
}

#search_form .save_search_link{
	width:80%;
	display: inline-block
}

#search_form .del_search_link{
	width:10%;
	display: inline-block;
	float: right;
	padding: 0px 20px 0px 0px;
}

/* navigator ctrl */
.navbar-inverse {
    background-color:transparent;
    border-width: 0px;
    margin: 0 0 0 0;
}

/* navigator LOGO 部分背景色和字体颜色*/
.navbar-inverse .navbar-brand {
    color: white;
}

/* navigator LOGO 部分hover时背景色和字体颜色*/
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

/* navigator 普通菜单项的颜色和背景  */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/* navigator 普通菜单项hover时的字体颜色和背景  */
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
    color: white;
    background-color: #99cccc;
}

/* navigator 当前选中菜单项的字体颜色和背景  */
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    color: white;
    background-color:#99cccc;
}

/*修复bootstrap3.0的bug*/
.nav > li.active{
     font-weight:bold;
}

/* page head css*/
#head_row{
	background-color:#66cccc;
}



/*
设计label check的方法
 <style type="text/css">
input.error { border: 1px solid red; }
label.error {
  background:url("res/unchecked.gif") no-repeat 0px 0px;

  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #EA5200;
}

label.checked {
  background:url("res/checked.gif") no-repeat 0px 0px;
}
 
</style>
 */





