@charset "utf-8";
/* common css */
.red_div{
	background-color: pink
}

.blue_div{
	background-color: lightblue
}

.green_div{
	background-color: lightgreen
}

.yellow_div{
	background-color: lightyellow
}

.white_div{
	background-color: yellow
}

.in_block{
	display: inline-block
}

/* search item css */
.search_item_css{
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background-color : lightyellow;
	padding:  10px 0px 0px 10px;
	margin: 0px 0px 10px 0;
}

.search_item_img_css{
	display: inline-block
}

.search_item_img_css img{
	width:112px;
	height:138px;
	vertical-align: inherit
}

.search_item_detail_css{
	display: inline-block
}

.search_item_detail_css h4{
	display: inline-block;
	width:120px;
	height: 20px;
	overflow: hidden;
	margin:0 0 0 0
}

.badge_css{
	display: inline-block;
}

.detail_css{
	margin:0 0 0 0
}

.search_item_score_css{
	
}

.search_item_btn_css{
	display: inline-block;
	width:20px;
	height:100%
}

.search_item_btn_css>a{
	display: block;color:red;font-size: 20px;cursor:pointer;margin: 0px 0px 0px 0px;width:100%;height: 50%;
}

.search_item_dislike_btn_css>a{
	color:black;font-size: 20px;cursor:pointer;width:100%;height: 50%;display: inline-block;margin: 0px 0px 0px 0px
}

.search_item_dislike_btn_css>ul>li:first-child{
	padding: 10px 3px 3px 20px;
}

/* search form css */
#search_form{
	padding: 20px 0px 10px 0px;
}

#search_form>div{
	padding: 10px 5px 10px 5px
}

#search_form label{
	padding: 0px 0px 0px 0px
}

#search_form input,#search_form select{
	padding: 0px 0px 0px 0px
}

#search_form .form-group{
	padding: 0px 0px 0px 0px;
	margin-bottom: 5px;
}

#search_form HR{
	width:80%;
	margin: 10px auto 10px auto
}

#search_form .save_search_link{
	width:80%;
	display: inline-block
}

#search_form .del_search_link{
	width:10%;
	display: inline-block;
	float: right;
	padding: 0px 20px 0px 0px;
}













