@charset "utf-8";
/* global variables */
/* common css */
.link_span {
  cursor: pointer;
  color: #428bca;
  text-decoration: none;
}
.double_div {
  border-style: double;
  border-color: green;
}
.center_pos {
  margin-left: auto;
  margin-right: auto;
}
.lefttop_pos {
  margin-left: auto;
  margin-right: auto;
}
.red_div {
  background-color: pink;
}
.blue_div {
  background-color: lightblue;
}
.green_div {
  background-color: lightgreen;
}
.yellow_div {
  background-color: lightyellow;
}
.white_div {
  background-color: yellow;
}
.in_block {
  display: inline-block;
}
.hide_block {
  display: none;
}
.row {
  margin-bottom: 15px;
}
/* user profile*/
.thumbnail_profile {
  width: 52px;
  height: auto;
  padding: 2px 2px 2px 2px;
  border: solid 1px gray;
}
/* star rating css, usage <span class="star_readonly" star="2"></span>*/
.star_readonly {
  background-image: url('/res/small_icon.png');
  background-repeat: no-repeat;
  height: 14px;
  width: 80px;
  display: inline-block;
}
.star_readonly[star="0"] {
  background-position: -200px -75px;
}
.star_readonly[star="1"] {
  background-position: -200px -60px;
}
.star_readonly[star="2"] {
  background-position: -200px -45px;
}
.star_readonly[star="3"] {
  background-position: -200px -30px;
}
.star_readonly[star="4"] {
  background-position: -200px -15px;
}
.star_readonly[star="5"] {
  background-position: -200px 0px;
}
/*查询结果的css设置*/
/*所有头像的div设置 */
.img_profile_sm {
  width: 112px;
  height: auto;
}
.img_profile_lg {
  width: 90%;
  height: auto;
  max-width: 400px;
}
#div_search_result .row {
  /*margin-bottom: 30px;*/
  color: gray;
}
#div_search_cond dl {
  background-color: white;
}
#div_search_cond hr {
  margin: 0 0 10px 0;
}
#div_search_cond dl > dt {
  width: 70px;
  color: gray;
}
#div_search_cond dl > dd {
  margin-left: 90px;
  color: gray;
}
#div_search_cond .badge {
  background-color: lightgray;
}
#link_show_cond,
#link_hide_cond {
  text-decoration: none;
  padding: 0 10px 0 0;
}
.div_profile_text {
  vertical-align: top;
}
.div_profile_text p {
  margin: 0 0 0 0;
}
.div_profile_text .star_readonly {
  vertical-align: text-bottom;
}
/* 切换不同的显示效果 */
.div_profile_img {
  background-color: white;
  padding: 5px 5px 15px 5px;
}
.div_profile_img img {
  width: 112px;
  height: auto;
}
.div_profile_img div {
  width: 112px;
  height: 20px;
  margin: 0 0 0 0;
  overflow: hidden;
}
.match_num H1 {
  font: 30px Candara;
  color: #e46a4a;
}
.match_num:hover {
  cursor: pointer;
  border-bottom: 2px solid #ff3333;
}
.tag_readOnly > li {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #FCFCFC;
}
.text_nickname {
  color: dimgray;
  margin: 0 0 0 0;
}
.search_display_sm .sm_hide {
  display: none;
}
.search_display_sm .sm_item {
  background-color: white;
  text-align: center;
}
.search_display_sm .btn,
.search_display_sm .btn_group {
  width: auto;
}
.search_display_sm .div_profile_img {
  padding: 0 0 0 0;
}
.search_display_sm .div_profile_img > img {
  width: 90%;
  height: auto;
}
.search_display_sm .text_profile_info1 {
  font-weight: lighter;
  font-size: 10px;
}
.search_display_sm p {
  margin: 0 0 0 0;
}
.search_display_sm .text_nickname {
  font-size: 18px;
}
.search_display_lg .lg_hide {
  display: none;
}
.search_display_lg .lg_item {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.search_display_lg .div_profile_img {
  display: block;
}
.search_display_lg .div_profile_img > img {
  width: 90%;
  height: auto;
}
.search_display_lg .text_nickname > p {
  font-size: 20px;
  font-weight: 800;
}
.search_display_list .list_hide {
  display: none;
}
.search_display_list .div_btn > button,
.search_display_list .div_btn > .btn-group {
  width: 100%;
  margin-bottom: 10px;
  /**/
}
.search_display_list .list_item {
  background-color: white;
  margin: 0 0 0 0;
}
.search_display_list .div_profile_img {
  display: inline-block;
}
.search_display_list .text_nickname {
  display: inline-block;
  max-width: 120px;
  height: 25px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 800;
}
.text_like {
  color: #FF60AF;
}
/* 首部导航设计 */
.navbar-inverse {
  background-color: transparent;
  border-width: 0px;
  margin: 0 0 0 0;
}
/* navigator LOGO 部分背景色和字体颜色*/
.navbar-inverse .navbar-brand {
  color: white;
}
/* navigator LOGO 部分hover时背景色和字体颜色*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
  background-color: transparent;
}
/* navigator 普通菜单项的颜色和背景  */
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
/* navigator 普通菜单项hover时的字体颜色和背景  */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  font-weight: bold;
}
/* navigator 当前选中菜单项的字体颜色和背景  */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #efeff1;
}
/*修复bootstrap3.0的bug*/
.nav > li.active {
  font-weight: bold;
}
.btn.active {
  background-color: orange;
}
/* 自动弹出下拉菜单 */
.dropdown-hover .dropdown-menu li:hover .submenu {
  visibility: visible;
}
.dropdown-hover .dropdown:hover .dropdown-menu {
  display: block;
}
/*面包导航设计*/
#my_breadcrumb {
  background-color: white;
  margin: 0 0 0 0;
}
#my_breadcrumb a {
  margin-left: 5px;
  text-decoration: none;
}
#my_breadcrumb > a + a:before {
  color: #CCCCCC;
  content: " > ";
}
/* 共用页面设计 */
#page_head_row {
  background-color: #154478;
}
#page_container {
  width: 100%;
  padding: 0 0 0 0;
  background-color: #efeff1;
}
#page_foot_row {
  background-color: #154478;
  margin: 0px 0px 0px 0px;
}
/*自定义标签控件 */
/*jquery ctrl: for tag selector */
.tagItem {
  min-width: 50px;
  display: inline-block;
  color: black;
  margin: 0px 10px 5px 0px;
  padding: 2px 10px 2px 15px;
  background-image: url('/res/small_icon.png');
  background-position: 0px -58px;
  border-bottom: solid 2px transparent;
}
.tagItem_edit {
  cursor: pointer;
}
.tagItem_edit:hover {
  border-bottom: solid 2px #ff3333;
}
.linkTagNew {
  cursor: pointer;
  color: #faae7d;
}
.linkTagNew:hover {
  cursor: pointer;
  color: #f68e51;
  text-decoration: none;
}
.divTagNew {
  position: absolute;
  color: black;
  background-color: #ffffe1;
  padding: 10px 10px 10px 10px;
  border: 1px solid dark;
  z-index: 500;
  border-radius: 2px;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/*my album page css */
#my_space_head {
  background-color: #331344;
  color: white;
  padding-top: 15px;
}
/*我的主页二级导航 */
#nav_my_space {
  margin: 0px 0px 0px 0px;
  /*border-bottom: 4px solid transparent;*/
}
#nav_my_space .navbar-nav > li > a {
  border-bottom: 1px solid transparent;
}
#nav_my_space .navbar-nav > li.active > a {
  border-bottom: 1px solid transparent;
}
#nav_my_space .navbar-nav > li > a:hover,
#nav_my_space .navbar-nav > li > a:focus {
  border-bottom: 1px solid transparent;
  background-color: white;
}
/*我的主页的CSS*/
#div_profile {
  background-color: white;
}
.div_space_readonly .readonly_hide {
  display: none;
}
.div_space_edit .edit_hide {
  display: none;
}
/*我的主页->回复列表*/
.div_reply_container {
  margin-right: 20px;
  background-color: #F0F0F0;
  padding: 20px 20px 0px 20px;
}
.div_reply_container HR {
  border-style: dotted;
  border-color: #3C3C3C;
  margin-top: 30px;
  margin-bottom: 20px;
}
.div_reply_container .div_reply_user {
  width: 50px;
  float: left;
  padding-top: 6px;
}
.div_reply_container .div_reply_content {
  margin-left: 60px;
  padding: 6px 1px 1px 6px;
}
.div_album_user {
  text-align: center;
  padding: 24px 10px 0px 5px;
  margin-right: -10px;
}
.div_album_user button {
  width: 100%;
  margin-bottom: 10px;
}
#div_album_container {
  background-color: white;
}
#div_album_container .row {
  margin-bottom: 15px;
}
#div_album_container .row > HR {
  border: 1px solid gray;
  margin: 20px 15px 20px 15px;
}
.div_album_detail {
  padding-top: 24px;
  padding-right: 20px;
}
.div_album_detail .div_album_detail_text {
  padding-top: 10px;
  min-height: 100px;
}
.div_album_detail .div_album_detail_img img {
  max-width: 30%;
  height: auto;
  display: inline-block;
}
.div_album_detail .likeit_list {
  padding-top: 10px;
  padding-left: 20px;
}
#space-navbar-collapse {
  border-color: transparent;
}
#space-navbar-collapse li {
  border: 1px solid #e7e7e7;
  border-bottom-width: 0px;
}
#space-navbar-collapse li.active {
  border: 1px solid #e7e7e7;
  border-bottom: 0px solid white;
}
#space-navbar-collapse li.active a {
  background-color: white;
}
#space-navbar-collapse li span {
  padding-left: 5px;
}
/* 自定义的checkbox */
div.checkbox_ctrl,
span.checkbox_ctrl {
  padding-left: 30px;
  height: 22px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  background: url("/res/small_icon.png") no-repeat 0px -132px;
}
div.checkbox_ctrl[checked],
span.checkbox_ctrl[checked] {
  background: url("/res/small_icon.png") no-repeat 0px -158px;
}
/* 自动回到顶端的小火箭 */
#returnTop {
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: -200px;
  width: 30px;
  height: 65px;
  text-indent: -999px;
  overflow: hidden;
  background-image: url('/res/small_icon.png');
  background-repeat: no-repeat;
  background-position: -122px 0px;
  transition: bottom 0.9s;
  -webkit-transition: bottom 0.9s;
  -moz-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;
}
#returnTop:hover {
  background-position: -122px -65px;
}
/*主页的新成员展示CSS */
#div_new_member .carousel {
  border: 1px solid #ddd;
  background-color: white;
  float: left;
  padding-left: 0px;
}
#div_new_member ul > li > img {
  width: 112px;
  height: auto;
  height: 118px;
  vertical-align: middle;
  margin: 8px 8px 8px 0;
  border-radius: 1px;
  cursor: pointer;
}
#div_new_member p {
  background-image: url('/res/small_icon.png');
  position: absolute;
  top: 50px;
  z-index: 1000;
  cursor: pointer;
  width: 32px;
  height: 41px;
}
#div_new_member .prev {
  background-position: -292px 0px;
  left: 16px;
}
#div_new_member .next {
  background-position: -327px 0px;
  right: 15px;
}
#div_new_member:hover .prev {
  background-position: -362px 0px;
}
#div_new_member:hover .next {
  background-position: -397px 0px;
}
#div_carousel_ctrl {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
#div_carousel_ctrl .go {
  padding: 0px 5px 0px 5px;
  margin-right: 5px;
  background-color: gray;
  color: white;
  text-decoration: none;
}
#div_carousel_ctrl .go:hover {
  color: #ff3333;
}
#div_carousel_ctrl .go.active {
  color: orange;
}
.pwd_placeholder_sm {
  background: url('/res/small_icon.png') 0px -196px no-repeat;
}
.pwd_placeholder {
  background: url('/res/small_icon.png') 0px -220px no-repeat;
}
